apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  labels:
    app: api-gateway
data:
  application.yml: |
    spring:
      application:
        name: api-gateway
      
      config:
        import: optional:configserver:http://config-server:8888
      cloud:
        config:
          enabled: false
          import-check:
            enabled: false
      
      cloud:
        gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=0
            
            - id: shift-service-companies
              uri: lb://shift-service
              predicates:
                - Path=/api/companies/**
              filters:
                - StripPrefix=0
            
            - id: shift-service-shifts
              uri: lb://shift-service
              predicates:
                - Path=/api/shifts/**
              filters:
                - StripPrefix=0
    
    eureka:
      client:
        service-url:
          defaultZone: http://eureka-server:8761/eureka/
      instance:
        prefer-ip-address: true
    
    server:
      port: 8080
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,gateway

