apiVersion: v1
kind: ConfigMap
metadata:
  name: eureka-config
  labels:
    app: eureka-server
data:
  # Eureka Server 配置
  application.yml: |
    spring:
      application:
        name: eureka-server
    
    # Eureka Server 配置
    eureka:
      instance:
        hostname: eureka-server
      client:
        register-with-eureka: false
        fetch-registry: false
    
    server:
      port: 8761
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info

