apiVersion: v1
kind: ConfigMap
metadata:
  name: shift-service-config
  labels:
    app: shift-service
data:
  application.yml: |
    spring:
      application:
        name: shift-service
      
      config:
        import: optional:configserver:http://config-server:8888
      cloud:
        config:
          enabled: false
          import-check:
            enabled: false
      
      datasource:
        url: jdbc:h2:mem:shiftdb
        driver-class-name: org.h2.Driver
        username: sa
        password: ""
      
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
    
    eureka:
      client:
        service-url:
          defaultZone: http://eureka-server:8761/eureka/
      instance:
        prefer-ip-address: true
    
    server:
      port: 8082
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info

